<launch>
  <arg name="enable_raw" default="false"/>
  <arg name="enable_imv" default="false"/>
  <arg name="camera_id" default="0"/>
  <arg name="camera_frame_id" default="raspicam"/>
  <arg name="camera_name" default="camerav2_410x308"/>
  <arg name="base_speed" default="0.25"/>
  <arg name="speed_min" default="0"/>
  <arg name="speed_max" default="1"/>
  <arg name="angular_max" default="1"/>
  <arg name="boost" default="0.0"/>
  <arg name="kp" default="0.625"/>
  <arg name="ki" default="0.0"/>
  <arg name="kd" default="0.075"/>
  <arg name="error_timeout" default="20"/>
  <arg name="crop_x" default="0"/>
  <arg name="crop_y" default="180"/>
  <arg name="crop_w" default="410"/>
  <arg name="crop_h" default="154"/>
  <arg name="row_far_ratio" default="0.5"/>
  <arg name="margin_px" default="40"/>
  <arg name="min_gap_px" default="40"/>
  <arg name="canny_low" default="80"/>
  <arg name="canny_high" default="180"/>
  <arg name="blur_ksize" default="5"/>
  <arg name="blur_sigma" default="1.5"/>
  <arg name="thr_low" default="0"/>
  <arg name="thr_high" default="70"/>

  <arg name="finish_line_width" default="100"/>

  <arg name="rgb_sat_min" default="80"/>
  <arg name="rgb_val_min" default="80"/>
  <arg name="rgb_red_hue_min" default="0"/>
  <arg name="rgb_red_hue_max" default="10"/>
  <arg name="rgb_red_hue2_min" default="170"/>
  <arg name="rgb_red_hue2_max" default="180"/>
  <arg name="rgb_green_hue_min" default="35"/>
  <arg name="rgb_green_hue_max" default="85"/>
  <arg name="rgb_blue_hue_min" default="90"/>
  <arg name="rgb_blue_hue_max" default="130"/>
  <arg name="rgb_param_target" default="/error_management/base_speed"/>
  <arg name="rgb_red_speed" default="0.4"/>
  <arg name="rgb_green_speed" default="0.25"/>
  <arg name="rgb_blue_speed" default="0.1"/>
  <arg name="ema_alpha" default="0.25"/>
  <arg name="draw_debug" default="true"/>
  <arg name="stats_error_topic" default="/error"/>
  <arg name="stats_cmd_topic" default="/cmd_vel"/>
  <arg name="stats_enable_keyboard" default="true"/>
  <arg name="stats_status_period" default="5.0"/>
  <arg name="stats_log_file" default=""/>

  <node type="raspicam_node" pkg="raspicam_node" name="raspicam_node" output="screen">
    <param name="private_topics" value="true"/>

    <param name="camera_frame_id" value="$(arg camera_frame_id)"/>
    <param name="enable_raw" value="$(arg enable_raw)"/>
    <param name="enable_imv" value="$(arg enable_imv)"/>
    <param name="camera_id" value="$(arg camera_id)"/>

    <param name="camera_info_url" value="package://raspicam_node/camera_info/camerav2_410x308.yaml"/>
    <param name="camera_name" value="$(arg camera_name)"/>
    <param name="width" value="410"/>
    <param name="height" value="308"/>

    <param name="framerate" value="30"/>
    <param name="exposure_mode" value="antishake"/>
    <param name="shutter_speed" value="0"/>
  </node>

  <node pkg="error_management" type="error_management_node" name="error_management" output="screen">
    <param name="speed_min" value="$(arg speed_min)"/>
    <param name="speed_max" value="$(arg speed_max)"/>
    <param name="base_speed" value="$(arg base_speed)"/>
    <param name="angular_max" value="$(arg angular_max)"/>
    <param name="boost" value="$(arg boost)"/>
    <param name="kp" value="$(arg kp)"/>
    <param name="ki" value="$(arg ki)"/>
    <param name="kd" value="$(arg kd)"/>
    <param name="error_timeout" value="$(arg error_timeout)"/>
  </node>

  <node type="image_processing_node" pkg="image_processing" name="image_processing" output="screen">
    <param name="crop_x" value="$(arg crop_x)"/>
    <param name="crop_y" value="$(arg crop_y)"/>
    <param name="crop_w" value="$(arg crop_w)"/>
    <param name="crop_h" value="$(arg crop_h)"/>
    <param name="row_far_ratio" value="$(arg row_far_ratio)"/>
    <param name="margin_px" value="$(arg margin_px)"/>
    <param name="min_gap_px" value="$(arg min_gap_px)"/>
    <param name="canny_low" value="$(arg canny_low)"/>
    <param name="canny_high" value="$(arg canny_high)"/>
    <param name="blur_ksize" value="$(arg blur_ksize)"/>
    <param name="blur_sigma" value="$(arg blur_sigma)"/>
    <param name="thr_low" value="$(arg thr_low)"/>
    <param name="thr_high" value="$(arg thr_high)"/>
    <param name="ema_alpha" value="$(arg ema_alpha)"/>
    <param name="finish_line_width" value="$(arg finish_line_width)"/>
    <param name="draw_debug" value="$(arg draw_debug)"/>
  </node>

  <node type="rgb_detector_node" pkg="rgb_detector" name="rgb_detector" output="screen">
    <param name="crop_x_rgb" value="$(arg crop_x)"/>
    <param name="crop_y_rgb" value="$(arg crop_y)"/>
    <param name="crop_w_rgb" value="$(arg crop_w)"/>
    <param name="crop_h_rgb" value="$(arg crop_h)"/>
    <param name="row_far_ratio_rgb" value="$(arg row_far_ratio)"/>
    <param name="margin_px_rgb" value="$(arg margin_px)"/>
    <param name="min_gap_px_rgb" value="$(arg min_gap_px)"/>
    <param name="canny_low_rgb" value="$(arg canny_low)"/>
    <param name="canny_high_rgb" value="$(arg canny_high)"/>
    <param name="blur_ksize_rgb" value="$(arg blur_ksize)"/>
    <param name="blur_sigma_rgb" value="$(arg blur_sigma)"/>
    <param name="sat_min" value="$(arg rgb_sat_min)"/>
    <param name="val_min" value="$(arg rgb_val_min)"/>
    <param name="red_hue_min" value="$(arg rgb_red_hue_min)"/>
    <param name="red_hue_max" value="$(arg rgb_red_hue_max)"/>
    <param name="red_hue2_min" value="$(arg rgb_red_hue2_min)"/>
    <param name="red_hue2_max" value="$(arg rgb_red_hue2_max)"/>
    <param name="green_hue_min" value="$(arg rgb_green_hue_min)"/>
    <param name="green_hue_max" value="$(arg rgb_green_hue_max)"/>
    <param name="blue_hue_min" value="$(arg rgb_blue_hue_min)"/>
    <param name="blue_hue_max" value="$(arg rgb_blue_hue_max)"/>
    <param name="ema_alpha_rgb" value="$(arg ema_alpha)"/>
    <param name="draw_debug_rgb" value="$(arg draw_debug)"/>
  </node>

  <node pkg="rgb_management" type="rgb_management_node" name="rgb_management" output="screen">
    <param name="target_param" value="$(arg rgb_param_target)"/>
    <param name="default_speed" value="$(arg base_speed)"/>
    <param name="red_speed" value="$(arg rgb_red_speed)"/>
    <param name="green_speed" value="$(arg rgb_green_speed)"/>
    <param name="blue_speed" value="$(arg rgb_blue_speed)"/>
  </node>

  <node pkg="line_statistics" type="statistics_node" name="statistics" output="screen">
    <param name="error_topic" value="$(arg stats_error_topic)"/>
    <param name="cmd_topic" value="$(arg stats_cmd_topic)"/>
    <param name="enable_keyboard" value="$(arg stats_enable_keyboard)"/>
    <param name="status_period" value="$(arg stats_status_period)"/>
    <param name="log_file" value="$(arg stats_log_file)"/>
  </node>

</launch>
